$spacer: 10px;

#actions
{
  .btn
  {
    margin-left: $spacer;

    &:first-child
    {
      margin-left: 0;
    }
  }
}

.card-body .card
{
  margin-top: $spacer;

  &:first-child
  {
    margin-top: 0;
  }
}
