<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{.AppInfo.AppName}}</title>
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link href="/assets/style.css" rel="stylesheet" />
  </head>
  <body>
    <script type="application/javascript">
      var mtAuth = {{.Auth}};
    </script>

    <div class="container p-3">
      <div class="border p-3 bg-light">
        <h1>{{.AppInfo.AppName}}</h1>
        <p class="text-muted">{{.AppInfo.LongDescription}}</p>
        <p>
          <b>Bot</b>: {{.AppInfo.Global.BotInfo}}<br>
          <b>Chat</b>: {{.AppInfo.Global.ChatInfo}}
        </p>

        <div id="app">
          <component-status v-bind="status"></component-status>

          <component-main v-if="session"></component-main>
          <component-auth v-else=""></component-auth>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3 p-3 border bg-light">
        <div>
          <div>
            {{.AppInfo.AppName}} v{{.AppInfo.Version}} <span class="small ps-3">{{.AppInfo.BuildTime}}</span>
          </div>
          <a href="https://github.com/mitoteam/mt-tgadmin"><img alt="GitHub Release" src="https://img.shields.io/github/v/release/mitoteam/mt-tgadmin?style=flat-square&amp;logo=github&amp;label=latest%20version"></a>
        </div>
        <div class="text-end">
          <div>
            by <a href="https://www.mito-team.com" target="_blank">MiTo Team</a>
          </div>
          <div class ="small text-muted">
            {{.Motto}}
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/vue.global.prod.js"></script>
    <script src="/assets/ckeditor.min.js"></script>
    <script src="/assets/ckeditor-vue.min.js"></script>

    <script src="/assets/script.min.js"></script>
  </body>
</html>
